@import './variables.css';
@import './components/header.css';
@import './components/images.css';
@import './components/inputs.css';
@import './components/tagStatus.css';
@import './components/trackerOrder.css';
@import './fonts.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
}

.app-container {
  display: flex;
  max-width: 67.75rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.search-container {
  display: flex;
  flex-direction: column;
  gap: 6.25rem;
}

@media (max-width: 768px) {
  main {
    justify-content: flex-start;
    gap: 2rem;
  }

  .app-container {
    flex-direction: column;
    max-width: 95%;
    gap: 2rem;
  }

  .search-container {
    flex-direction: column-reverse;
    gap: 2rem;
  }
}