.trk-result-section {
  display: flex;
  gap: 2rem;
  max-width: 1440px;
  padding: 1rem;
}

.trk-result-col {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.trk-history-route {
  display: flex;
  gap: 2rem;
}
