#panel-card {
  background-color: white;
  border-radius: 0.5rem;
  padding: 1.25rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  max-width: 25rem;
  margin-top: 1.25rem;
  border-left: 0.3125rem solid #000;
}

#panel-card h3 {
  margin-top: 0;
  color: #333;
}

#panel-card hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 0.9375rem 0;
}

#panel-card .card-content #timeline-container .timeline-step {
  opacity: 0;
  transform: translateY(0.625rem);
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}
