header .tracker-menu {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  padding: 1rem;
}

.tracker-menu-content .tracker-menu-system-name {
  font-size: 1rem;
  font-weight: 700;
}