#main-header {
  display: flex;
  width: 100%;
  height: fit-content;
  padding: 1rem;
  background-color: black;
  color: #fff;
  align-items: center;
}

#main-header img {
  width: 2.5rem;
  height: auto;
}