.tag-status {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 0.375rem;
  padding: 0.375rem;
  background-color: var(--color-on-primary);
  color: var(--color-primary-hover);
  border-radius: 0.375rem;
  font-size: 0.75rem;
  font-weight: 600;
}

.tag-status .tag-status-bullet {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--color-primary-hover);
}