.tracker-order-found-panel {
  width: 27.0625rem;
  height: 33.75rem;
  background-color: var(--color-primary);
  border-radius: 8px;
  padding: 1.5rem;
}

.tracker-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  font-size: 0.875rem;
  color: var(--color-on-primary);
}

.tracker-content .tracker-history {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.tracker-content .tracker-container-content {
  display: flex;
  gap: 0.5rem;
  align-items: start;
}

.tracker-container-content .tracker-info-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tracker-info-container .tracker-date {
  font-size: 1rem;
  font-weight: 600;
}

.info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-on-primary);
  font-size: 0.875rem;
  font-weight: 600;
}

.track-loading {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--color-on-primary);
}

.track-loading img {
  width: 4rem;
}

.track-loading .loading-bar {
  width: 9.375rem;
  height: 0.5rem;
  background-color: var(--color-on-primary);
  border: 1px solid var(--color-on-primary);
  border-radius: 1.5625rem;
  position: relative;
  overflow: hidden;
}

.track-loading .loading-bar .loading-dot {
  position: absolute;
  top: 50%;
  left: 0;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  transform: translate(0, -50%);
  background: radial-gradient(circle at 30% 30%, var(--color-primary), var(--color-primary));
  animation: moveDot 1500ms linear infinite alternate;
}

@keyframes moveDot {
  from {
    transform: translate(0, -50%);
    left: 0;
  }

  to {
    left: calc(100% - 1.125rem);
    transform: translate(0, -50%);
  }
}

@media (max-width: 768px) {
  .tracker-order-found-panel {
    width: 100%;
    height: auto;
  }
}